#form {
  width:90%;
}

.form section {
display: block;
border:none;
}

.form h1 {
    margin-top: 0;
}

/*.form h2 {
    border-bottom:solid;
}*/

.form h3 {
    border-bottom:dotted;
    border-color:#38023B;
    color:#38023B;
}

.form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form form {
    margin: 0 auto;
    width: 90%;
    max-width:530px;
    padding: 2em 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color:white;
}

.form div+div {
    margin-top: 1em;
}

.form label span {
    display: inline-block;
    width: 80%;
    text-align: left;
}

.form input, textarea {
    font: 1em sans-serif;
    position:relative;
    width:50%;
    max-width:250px;
    box-sizing: border-box;
    border: 1px solid #999;
}

.form input[type=checkbox], input[type=radio] {
    width: auto;
    border: none;
}

.form input:focus, textarea:focus {
    border-color: #000;
}

.form textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.form fieldset {
    width: 150px;
    box-sizing: border-box;
    margin-left: 10%;
    border: 1px solid #999;
}

.form button {
    margin: 20px 0 0 124px;
}

.form label {
  position: relative;
}

.form label em {
  position: absolute;
  right: 5px;
  top: 20px;
}

.form input[type="text"], input[type="date"], select{
  font: 1em sans-serif;
  position:relative;
  width:80%;
  max-width:350px;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 1px 0px;
  margin:auto;
  margin-left:10px;
}

.form select:disabled, input[type="text"]:disabled {
  font: 1em sans-serif;
  position:relative;
  width:80%;
  max-width:350px;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 1px 0px;
  margin:auto;
  margin-left:10px;
  border-style:none;
  background-color:white;
}

.form select:enabled {
  background-color:white;
}

/* Making the little arrow disappear when select box is disabled */
.form select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.SummaryDisplay {
  width:100%;
  display:flex;
  flex-direction:row;
}

.SummaryValues {
  font-weight:bold;
  width:70%;
}

.SummaryLabels {
  width:30%;
  font-weight: bold;
}


.SummaryValues input {
    border: none;
    background-color:transparent;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .form label {
    display:block;
  }
  .sectionHeader {
    font-size:large;
  }


}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .form label {
    display: block;
  }
  .sectionHeader {
    font-size:x-large;
  }

}

@media screen and (min-width: 1100px) {
  .form label {
    display: block;
  }
  .sectionHeader {
    font-size:xx-large;
  }
}
